/.idea/
/frontend.iml
/backend/backend.iml
/backend/.idea
/frontend/frontend.iml
/frontend/.idea
/backend/wapdev2/userapi/migrations/__pycache__/
/backend/wapdev2/userapi/__pycache__/
/backend/wapdev2/plants/__pycache__/
/backend/wapdev2/plants/__pycache__/
