.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #eaede0;
  width: 90% !important;
  margin: auto;
  margin-bottom: 50px;

  .user-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9ddae;
    padding: 7px;
    border-radius:50px;
    font-weight: 500;
    font-size: 1.15em;
  }
}

.page-title {
  font-size: 4em;
  color: #274525;
  font-weight: 600;
  width: 450px;
  text-align: center;
}

.logo {
  height: 150px;
  margin: auto;
}

.menu-items {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 23px 23px;
  background-color: #c9ddae;
  border-radius: 50px;
  font-weight: 500;
  width: 430px;
}

.menu-items li {
  background: transparent;
  padding: 15px 20px;
  margin: -15px -20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #eaede0af;
  }

  a {
    text-decoration: none;
    color: #274525;
    font-size: 1.15em;
  }
}

.active-link {
  color: #274525;
  background: #eaede0;
  padding: 15px 20px;
  margin: -15px -20px;
  border-radius: 50px;
}
@media (max-width: 1350px) {
  .menu-bar {
    flex-direction: column;
  }

  .page-title
  {
    margin: auto;
    padding: 0;
  }

  .logo, .image-container{
    margin:auto;
  }

  .menu-items
{
    margin-top: 20px;
    justify-content: center;
  }

  .menu-items li{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menu-bar {
    flex-direction: column;
  }

  .menu-items{
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    padding: 30px 10px;
    margin:auto;
    margin-top: 20px;
    width: 40%;
  }

  .user-menu{
    width: 40%;
    margin-top:20px;
  }

  .menu-items li{
    padding :15px 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align:center;
  }


  .menu-items li:hover{
    padding: 15px 0 !important;
  }

  .menu-items li a{
    padding: 10px;
    width: 100%;
  }

  .active-link {
    padding: 15px 50px !important;
    border-radius: 50px;
  }

  .user-name:hover, .user-icon:hover{
    padding: 13px 30% !important;
  }

}

.user-name:hover, .user-icon:hover{
  background: #eaede0af;
  padding: 13px;
  border-radius:50px;
}

.user-name{
  display:flex;

  font-weight: 500;
  color: #274525;
  padding: 13px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.user-name svg{
  width: 20px;
  height: 20px;
}

.user-name span{
  margin-left: 10px;
}

.user-icon{
  width: 20px;
  height: 20px;
  padding: 13px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.user-icon svg{
  margin-top: -2px;
}

.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 20px;
  width: max-content;
  min-width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  display: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.user-menu:hover .dropdown {
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown a {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
}

.dropdown a:hover {
  background-color: #f2f2f2;
  border-radius: 15px;
}
