

<nav class="menu-bar">
  <!-- menu elements for pages -->
  <div class="page-title">{{ pageTitle }}</div>
  <a class="image-container" routerLink="/dashboard"><img  src="./assets/logo-dark.png" class="logo" alt="Logo"></a>
  <ul class="menu-items">
    <li><a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a></li>
    <li><a routerLink="/friends" routerLinkActive="active-link">Friends</a></li>
    <li><a routerLink="/add-plant" routerLinkActive="active-link">Add</a></li>
    <li><a routerLink="/encyclopedia-page" routerLinkActive="active-link">Encyclopedia</a></li>
  </ul>
  <!-- menu elemnt for username -->
  <div class="user-menu">
    <span (click)="navigateToEditUser()">{{ username }}</span>
  </div>
</nav>
