<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="body-landing-page">
  <div class="row">
    <div class="column">
      <div>
        <h1>YOUR DIGITAL GREEN THUMB.</h1>
        <div class="button-container">
          <a routerLink="/register">
          <button class="button" type="button"><span>JOIN</span></button>
          </a>
          <p>the watering revolution.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <img src="assets/logo-dark.png" alt="Green Guru Logo" class="logo">
    </div>
    <div class="column">
      <div class="vertical-center">
        <div class="button-container">
          <label class="material-symbols-outlined">alarm</label>
          <div class="text-container">
            <h2>REMINDER</h2>
            <p>Not sure when to water your plants? GreenGuru knows. Just add them to your dashboard and you will be notified.</p>
          </div>
        </div>
        <div class="button-container">
          <label class="material-symbols-outlined">trophy</label>
          <div class="text-container">
            <h2>AQUASCORE</h2>
            <p>Watering plants is boring? Not with GreenGuru. Get points for every plant watering and compete with your friends.</p>
          </div>
        </div>
        <div class="button-container">
          <label class="material-symbols-outlined">potted_plant</label>
          <div class="text-container">
            <h2>ENCYCLOPEDIA</h2>
            <p>Get pro-infos about your plants from the encyclopedia, and watch your plants flourish with expert knowledge at your fingertips. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
