<div class="add-plant-container">
  <!-- Fehler- und Erfolgsmeldungen anzeigen -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div class="form-column">
    <form [formGroup]="addPlantForm" (ngSubmit)="onSubmit()" class="add-plant-form" enctype="multipart/form-data">

      <!-- Plant Name -->
      <div class="form-group">
        <input type="text" formControlName="name" placeholder="Plantname" required>
        <label class="material-icons">nature</label>
      </div>

      <!-- Location Dropdown/Textbox -->
      <div class="form-group">
        <input type="text" formControlName="location" placeholder="Location" list="locations" required>
        <datalist id="locations">
          <option value="Living Room">
            <!-- Other options... -->
        </datalist>
        <label class="material-icons">place</label>
      </div>
      <input type="file" #fileInput (change)="handleFileInput(fileInput.files)" hidden>
      <!-- Type Dropdown/Textbox -->
      <div class="form-group">
        <input type="text" formControlName="plant_type" placeholder="Type" list="types" required>
        <datalist id="types">
          <!-- Options for types will go here -->
        </datalist>
        <label class="material-icons">filter_vintage</label>
      </div>

      <!-- Watering Period -->
      <div class="form-group">
        <input type="number" formControlName="watering" placeholder="Watering period" min="1" required>
        <label class="material-icons">opacity</label>
      </div>

      <!-- Fertilizing Period -->
      <div class="form-group">
        <input type="number" formControlName="fertilizing" placeholder="Fertilizing Period" min="1" required>
        <label class="material-icons">spa</label>
      </div>

      <!-- Email Reminder -->
      <div class="form-switch">
        <label>Email Reminder</label>
        <label class="switch">
          <input type="checkbox" formControlName="reminder">
          <span class="slider round"></span>
        </label>
      </div>

      <!-- Add Button -->
      <button type="submit" class="form-btn" [disabled]="!addPlantForm.valid">ADD</button>
    </form>
  </div>

  <div class="image-column">
    <div class="image-preview">
      <img [src]="imagePreviewUrl ? imagePreviewUrl : 'assets/placeholder_no_image_uploaded.png'" alt="Plant Image">
    </div>
    <button (click)="fileInput.click()" class="form-btn">Choose Image</button>
  </div>
</div>
